body {
    font-family: 'Trebuchet MS', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

input, button {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    background-color: #6a0dad;
    color: white;
    cursor: pointer;
}

#adminPanel, #userProfile {
    margin-top: 20px;
}

select, #pointsInput {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#addPointsBtn, #subtractPointsBtn {
    width: 120px;
}
