body {
    font-family: 'Trebuchet MS', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

input, button {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    background-color: #6a0dad;
    color: white;
    cursor: pointer;
}

#adminPanel, #userProfile {
    margin-top: 20px;
    border-style: double;
    border: #6a0dad;
    border-radius: 10px;
}

#userLogin {
    margin-bottom: 10px;
}

select, #pointsInput {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#addPointsBtn, #subtractPointsBtn {
    width: 120px;
}

#logo {
    color: #000000;
    margin-top: 10px;
}

#logo img {
    width: 150px;
    border-radius: 150px;
    display: block;
    margin: 0 auto;
}

#helpBar {
    background-color: #6a0dad;
    color: #ccc;
    padding-top: 25px;
    padding-bottom: 100px;
}

#userProfile img {
    width: 100px;
    border-radius: 100px;
}
